<!DOCTYPE html>
<html>

	<head>
		<title>Map The Debate - Dev</title>
		<script type="text/javascript" src="http://use.typekit.com/ovv8leg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/960.css" type="text/css" />
		<link rel="stylesheet" href="/css/typography.css" type="text/css" />
		<link rel="stylesheet" href="/css/general.css" type="text/css" />
		<link rel="stylesheet" href="/css/splash.css" type="text/css" />
	</head>
	
	<body>
		
		<div class="container_12">
			
			<div class="grid_12">
				<div class="title">
					<h1>Map the Debate</h1>
					<h2>Visualising the web's response. Coming Soon.</h2>
				</div>
			</div>
			
		</div>
		
	</body>

</html>